// $brown-sugar: #C96A41ff;
// $flax: #F5E894ff;
// $eerie-black: #1A1A1Aff;
// $caramel: #D17B49ff;
// $caput-mortuum: #602D27ff;
// // --
// $q: #F2D785;
// $w: #D9965B;
// $e: #BF533B;
// $r: #732C2C;
// $t: #262626;
// // --
// $q-t: #BF69A8;
// $w-y: #8C517D;
// $e-u: #362D59;
// $r-i: #282240;
// $t-o: #B8CAD9;
// // --
// $cadet-gray: #9EA9BFff;
// $russian-violet: #32264Eff;
// $columbia-blue: #C0D2E2ff;
// $english-violet: #473256ff;
// $dark-purple: #2C2343ff;

/* Rhapsody of Blood CSS */
@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@700&display=swap');
$font-header: 'Red Rose', serif;
$font-body: 'Noto+Serif', serif;

$c-sheet-bg: #262626;
$c-sheet-border-pri: #3f3c2f;
$c-sheet-border-sec: #9a9173;
$c-sheet-input-bg: #181818;

$c-sheet-text: #efe2ba;
$c-sheet-text-header: #d0c4a1;
$c-sheet-text-subheader: #c38650;
$c-sheet-text-active: #edeadf;
$c-sheet-text-hover: #262626;
$c-sheet-text-active-hover: #262626;
$c-sheet-state-hover: #efe2baac;

$c-dark-bg: #1f1f1f;

$c-scrollbar-bg: #262626;
$c-scrollbar-border: #585858;

$c-highlight: #BF533B;

$c-stat-bg: #793425;
$c-stat-bg-hover: #a14531;

/* Sheet Sizing Styles */
.pbta.sheet {

    .window-header {
        background-color: $c-dark-bg;
    }

    input[type=checkbox], input[type=radio] {
        &:checked {
            accent-color: $c-highlight;
          }
    }

    a:hover {
        color: $c-stat-bg-hover;
    }

    /* General Sheet Color Styles */

    .tox-tinymce {
        background:#afafaf;
    }

    section.window-content {
        background: none;
        background-color: $c-sheet-bg;
        color: $c-sheet-text;
        font-family: $font-body;
        padding: 10px 0;

        &::-webkit-scrollbar-thumb {
            background: $c-scrollbar-bg;
            border-color: $c-scrollbar-border;
        }
    }

    label {
        color: $c-sheet-text;
        font-family: $font-body;
    }

    .input--title {
        color: $c-sheet-text-header;
        font-family: $font-header;
    }

    .tabs .item {
        color: $c-sheet-text;

        &.active {
            color: $c-sheet-text-active;

            &:hover {
                color: $c-sheet-text-active-hover;
            }
        }

        &:hover {
            color: $c-sheet-text-hover;
        }
    }

    input {
        background-color: $c-sheet-input-bg;
        color: $c-sheet-text;
        border: 1px solid $c-sheet-border-pri;

        ::placeholder {
            color: $c-sheet-text;
            opacity: 1; /* Firefox */
        }        
    }

    input.input--title.charplaybook::placeholder {
        color: $c-sheet-text;
        opacity: 1; /* Firefox */
    }

    .cell--image img {
        border: 1px solid $c-sheet-border-pri;
    }

    .cell__title {
        color: $c-sheet-text-subheader;
        font-family: $font-header; 
        border-bottom-color: $c-sheet-border-sec;
    }

    .sheet-attributes .cell--stats .stat .cell__title {
        color: $c-sheet-text;
        font-family: $font-header;
    }

    .sheet-wrapper {

        .editor-content {
            background: #181818;
        }

        .editor-edit {
            background: none;
        }

        .sheet-attributes-top {
            border: 1px solid $c-sheet-border-pri;
            border-left: 0;
            border-right: 0;
            background-color: $c-dark-bg;
            padding: 0 10px;
            margin-bottom: 0;
        }

        .sheet-bottom .sheet-look::before {
            background: $c-sheet-border-pri;
        }

        .sheet-attributes-top .cell--attributes-top>.cell+.cell::before {
            background-color: $c-sheet-border-pri;
        }
    }

    :is(section.sheet-main, form.item-form) nav.sheet-tabs.tabs {
        border-bottom-color: $c-sheet-border-pri;

        a.item {
            background: $c-dark-bg;
            border-color: $c-sheet-border-pri;

            &.active {
                background: #c38650;
                color: #2a281f;
            }
        
            &:hover {
                background: #efe2ba;
            }
        }
    }

    .items-list .item {
        background-color: $c-dark-bg;
    }

    /* Stat Styles and Animation */

    .sheet-attributes .cell--stats .stat {
        background: $c-stat-bg;

        &:hover {
            background: $c-stat-bg-hover;
        }

        .stat-icon, .stat-value {
            color: $c-sheet-text;
        }

        .stat-icon:hover {
            color: $c-sheet-state-hover;
        }
    }

    span.stat-icon.stat-rollable.rollable:hover .fa-dice-d6 {
        animation: rollDice 3s linear infinite;
    }

    /* layout work styles */

    .sheet-header, .sheet-attributes {
        padding: 0 10px;
    }

    .sheet-wrapper .sheet-bottom {
        padding: 0 10px;
    }

    .sheet-top {
        margin-bottom: 0;
    }

    .sheet-main {
        margin-top: 10px;
    }

    .sheet-header__fields {
        margin: 0;

        .input--title {
            height: 42px;
            font-size: 24px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    .sheet-wrapper .sheet-attributes-top .cell--attributes-top .cell {
        display: flex;
        flex-direction: column;

        .cell__title {
            order: 2;
            flex: 0;
        }

        .cell__description {
            order: 3;
            margin-bottom: 10px;
        }

        .cell__clock {
            order: 1;
            justify-content: flex-end;
            width: fit-content;
            position: absolute;
            top: 9px;
            right: 20px;
        }

        input[type=text] {
            justify-content: flex-end;
            width: fit-content;
            position: absolute;
            top: 3px;
            right: 20px;
        }

        .sheet-attributes-top {
            padding-top: 0px;
            padding-bottom: 0px;
            margin: 10px 0;
        }
    }

    .sheet-resources .cell--roll-mode {
        padding: 0;
        border: 1px solid $c-sheet-border-pri;
        border-left: none;
        border-right: none;
        border-top: none;

        background-color: $c-sheet-border-pri;

        .cell__title {
            border: none;
            margin: 0;
        }
    }

    .cell__title button, 
    .cell__subtitle button {
        background: #efe2ba;
        color: $c-sheet-input-bg;
        border: 1px solid #2a281f;
        height: 24px;
        line-height: 1;
    }

    .cell__title button:hover, 
    .cell__title button:focus, 
    .cell__subtitle button:hover, 
    .cell__subtitle button:focus {
        background-color: $c-sheet-input-bg;
        color: #efe2ba;
    }

    .sheet-tab {
        margin: 0;
    }

}

.pbta.sheet.npc {

    :is(section.sheet-main, form.item-form) nav.sheet-tabs.tabs {
       display: none;
    }

    .sheet-main {
        display: -webkit-box;
    }

    .sheet-wrapper .sheet-header {
        width: 100%; 
    }

    .sheet-main--npc {
        padding: 10px 10px 0 10px;
        border-top: 1px solid #3f3c2f;
        margin: 0;
    }

    .sheet-attributes-top {
        display: none;
    }
}

.pbta.sheet.item {

    .editor {
        background: #181818;
        border: 1px solid #3f3c2f;
    }

    .editor-content {
        padding: 0 10px;
    }

    .tagify {
        background-color: $c-dark-bg;
        border: 1px solid $c-sheet-border-pri;
        color: $c-sheet-text;
    }

    .tagify__input::before, 
    .tagify__input::after {
        color: $c-sheet-text;
    }

    .sheet-body {
        padding: 10px 10px 0 10px;
    }
    
    label {
        margin-right: 10px;
    }

    select {
        background-color: $c-dark-bg;
        color: $c-sheet-text;

        option {
            background-color: $c-dark-bg;
            color: $c-sheet-text;    
        }
    }
}

.vtt .window-app .dialog-buttons .dialog-button, .vtt .window-app .dialog-button {
    background: $c-stat-bg;
    color: $c-sheet-text;
    border: none;

    &:hover {
        background: $c-stat-bg-hover;
    }
}

.app.window-app.dialog {
    background-color: $c-dark-bg;
    color: $c-sheet-text;

    input {
        background-color: $c-dark-bg;
        color: $c-sheet-text;
    }

    .window-content {
        background: none;
        background-color: $c-sheet-bg;
        color: $c-sheet-text;    
    }
}
